<div class = 'message'>
<h3><%= article.title %></h3>
<P>
  <%= article.content%>
</p>
by:<%= article.user.name %>
<% unless current_page?(article_path(article)) %>
  <%= link_to "Show", article %>
<%end%>
</div>